/* NOTE: Not loading uibuilder CSS since bootstrap-vue supplies its own */

/* Load defaults from `<userDir>/node_modules/node-red-contrib-uibuilder/front-end/uib-brand.css`
 * This version auto-adjusts for light/dark browser settings but might not be as complete.
 */
/* @import url("../uibuilder/uib-brand.css"); */

/* OR, load the defaults from the older `<userDir>/node_modules/node-red-contrib-uibuilder/front-end/uib-styles.css` */
/* @import url("../uibuilder/uib-styles.css"); */

/* For this template, we only want the syntax highlight styles
 /*#region  Colours for Syntax Highlighted pre's */
@font-face {
    font-family: 'Bruno Ace SC';
    src: url('./fonts/BrunoAceSC-Regular.ttf');
}

.apexcharts-dark {
    background: #000000; /* Set the chart background color to black */
  }

.navbar-title {
    font-family: 'Bruno Ace SC';
}

.syntax-highlight {
    color: white;
    display: block;
    background-color: black;
    padding: 5px 10px;
    font-family: Consolas, "ui-monospace", "Lucida Console", monospace;
    white-space: pre;
    width: 99%;
    max-height: 33em;
    overflow: auto;
}

.syntax-highlight>.key {
    color: #ffbf35
}

.syntax-highlight>.string {
    color: #5dff39;
}

.syntax-highlight>.number {
    color: #70aeff;
}

.syntax-highlight>.boolean {
    color: #b993ff;
}

.syntax-highlight>.null {
    color: #93ffe4;
}

.syntax-highlight>.undefined {
    color: #ff93c9;
}

/*#endregion */

@-webkit-keyframes pulsered {
    0% {
        box-shadow: 0 0 8px rgb(255, 0, 0), inset 0 0 8px rgb(255, 0, 0);
    }

    50% {
        box-shadow: 0 0 16px rgb(255, 0, 0), inset 0 0 14px rgb(255, 0, 0);
    }

    100% {
        box-shadow: 0 0 8px rgb(255, 0, 0), inset 0 0 8px rgb(255, 0, 0);
    }
}

@-webkit-keyframes pulsegreen {
    0% {
        box-shadow: 0 0 8px rgb(0, 255, 0), inset 0 0 8px rgb(0, 255, 0);
    }

    50% {
        box-shadow: 0 0 16px rgb(0, 255, 0), inset 0 0 14px rgb(0, 255, 0);
    }

    100% {
        box-shadow: 0 0 8px rgb(0, 255, 0), inset 0 0 8px rgb(0, 255, 0);
    }
}

.col-sm.value-field {
    background-color: aliceblue
}

.col-md.value-field {
    background-color: aliceblue
}

.led.green {
    /* Make the LED green when the boolean value is false */
    background-color: rgb(0, 255, 0);
    align-self: right;
    box-shadow: 0 0 8px rgb(0, 255, 0), inset 0 0 8px rgb(0, 255, 0);
    -webkit-animation: pulsegreen 1s linear 0.5s infinite;
    border: 0px solid rgba(0, 0, 0, 0.164);
    border-radius: 0%;
    width: 16px;
    height: 16px;
    margin: 8px;
    padding: 8px;
    align-self: right;
}

.led.red {
    /* Make the LED green when the boolean value is false */
    background-color: rgb(255, 0, 0);
    align-self: right;
    box-shadow: 0 0 8px rgb(255, 0, 0), inset 0 0 8px rgb(255, 0, 0);
    -webkit-animation: pulsered 1s linear 0.5s infinite;
    border: 0px solid rgba(0, 0, 0, 0.164);
    border-radius: 0%;
    width: 16px;
    height: 16px;
    margin: 8px;
    padding: 8px;
    align-self: right;
}

.led.gray {
    /* Make the LED green when the boolean value is false */
    background-color: rgb(128, 128, 128);
    align-self: right;
    box-shadow: 0 0 8px rgb(128, 128, 128);
    border: 0px solid rgba(0, 0, 0, 0.164);
    border-radius: 0%;
    width: 16px;
    height: 16px;
    margin: 8px;
    padding: 8px;
    align-self: right;
}

/* Hide toasts if bootstrap-vue not loaded for some reason */
.toaster {
    display: none;
}

/* Cloak elements on initial load to hide the possible display of {{ ... }} 
 * Add to the app tag or to specific tags
 * To display "loading...", change to the following:
 *    [v-cloak] > * { display:none }
 *    [v-cloak]::before { content: "loading…" }
 */
[v-cloak] {
    display: none;
}