<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Aislapol SCADA</title>
  <meta name="description" content="Node-RED uibuilder - Vue v2 + bootstrap-vue template">
  <!-- <link rel="icon" href="../uibuilder/images/node-blue.ico"> -->
  <link rel="icon" href="./images/aislapol_ico.png">

  <!-- #region Supporting CSS. -->
  <link type="text/css" rel="stylesheet" href="../uibuilder/vendor/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.css" />
  <link type="text/css" rel="stylesheet" href="./index.css" media="all"><!-- Your own CSS -->
  <!-- #endregion -->
  <!-- <script defer>var exports = {};</script> -->
  <!-- #region Supporting Scripts. These MUST be in the right order. Note no leading / - socket.io no longer needed -->
  <script defer src="../uibuilder/vendor/vue/dist/vue.min.js">/* prod version with component compiler */</script>
  <script defer
    src="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.min.js">/* remove 'min.' to use dev version */</script>
  <script defer src="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue-icons.min.js"></script>
  <script defer src="../uibuilder/vendor/apexcharts/dist/apexcharts.js"></script>
  <script defer src="../uibuilder/vendor/vue-apexcharts/dist/vue-apexcharts.js"></script>
  <script defer src="../uibuilder/uibuilder.iife.min.js"></script>

  <script defer type="module" src="./index.js">/* OPTIONAL: Put your custom code in that */</script>
  <!-- #endregion -->

</head>

<body>
  <div id="app" class="uib" v-cloak><!-- All UI code needs to be within here for Vue -->
    <b-container fluid id="app_container"><!-- Wraps the bootstrap-vue formatting -->
      <!-- Navbar -->
      <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
          <b-navbar-brand href="#">
            <div class="navbar-title">
              <svg version="1.1" viewBox="0 0 650 350" height="50" id="svg2" xmlns:cc="http://creativecommons.org/ns#"
                xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="fill: #ffffff;" xml:space="preserve"
                class="mt-1 mr-2">
                <style type="text/css">
                  .st0 {
                    clip-path: url(#SVGID_2_);
                  }

                  .st1 {
                    fill: #009EE0;
                  }

                  .st2 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #009EE0;
                  }
                </style>
                <g id="g10" transform="matrix(1.3333333,0,0,-1.3333333,0,785.872)">
                  <g id="g12">
                    <g>
                      <defs>
                        <rect id="SVGID_1_" x="-182.2" y="51" width="816" height="785.9" />
                      </defs>
                      <clipPath id="SVGID_2_">
                        <use xlink:href="#SVGID_1_" style="overflow:visible;" />
                      </clipPath>
                      <g id="g14" class="st0">
                        <g id="g20" transform="translate(482.1992,290.9209)">
                          <path id="path22" class="st1"
                            d="M-80.2,149.3c-0.1,1.8,0.1,3-0.4,4.4c-1,3.2-4.9,8.5-7.4,10.3c-7.2,5.5-20.5,8.8-33.9,8.6
                                                                          c-14.1-0.3-26.8-2.8-34.7-9.7c-2.7-2.3-5.1-6.6-5.9-10.7l0.1-46.1c0.6-2.3,3.5-5.9,5.1-7.4c0,0,4.4-4,10.3-5.9
                                                                          c9.5-3,28.7-3.8,40.6-2.2c8.7,1.2,18.7,5.4,22.9,11.1c1.3,1.9,2.8,4.9,3.3,7.4V149.3z M-117.9,119.4c-0.2-0.6-1.7-2.1-2.2-2.2
                                                                          c-2.6-0.6-4.5,0.8-4.8,2.3v23.2c0.1,0.8,1.8,2.1,2.6,2.2c2.1,0.4,4.1-0.9,4.4-2.2V119.4z" />
                        </g>
                        <g id="g24" transform="translate(488.0254,345.6807)">
                          <path id="path26" class="st1" d="M-80.2,149.3l0.1-111.6h37.3v111.4L-80.2,149.3z" />
                        </g>
                        <g id="g28" transform="translate(174.7876,320.1143)">
                          <path id="path30" class="st1" d="M-80.2,149.3H-43v78.9l-37.3,0.1L-80.2,149.3z" />
                        </g>
                        <g id="g32" transform="translate(164.729,388.6045)">
                          <path id="path34" class="st1"
                            d="M-80.2,149.3c-5,6.5-9.1,7.6-9.1,7.6c-9.7,3.8-20.1,6.2-34.7,5.2c-7.7-0.5-14.9-2.4-20.3-5.5
                                                                          c-9.3-6.5-11.7-14.2-11.8-14.8c-1-3.6-0.7-7.9-0.7-12.2h36.2c0,2.8,0,5.4,1.8,6.3c1.7,0.8,4.2,0.2,4.8-1.1c2-4-0.8-8.3-3.3-9.2
                                                                          c-5.1-1.7-15.8,0.1-22.1-0.4c-3.6-0.3-7.4-1.3-10-2.6c-1.9-0.9-3.7-1.7-4.8-3.3c-0.3-0.5-1.1-1.8-1.1-1.8
                                                                          c-1.6-2.4-1.8-5.7-2.2-9.2c-1-8.4,0.7-15.5,4.4-20.3c1.1-1.5,4.8-4.2,5.1-4.4c4.7-2.9,12.6-3.8,19.9-3c2.2,0.3,3.7,0.1,5.5,0.7
                                                                          c1.5,0.5,6.5,3.7,7.4,4.8c0.4,0.5,1.7,2.1,1.8,2.2v-7.4h36.9v56.1C-76.7,141-75.9,143.6-80.2,149.3 M-114,107.1
                                                                          c-0.2-0.5-1-0.5-1.5-0.7c-4.2-2.2-7.6,1.7-5.2,5.5c0.4,0.7,1.2,0.6,1.8,1.1c1.6,1.3,5.2,3.3,5.2,3.3S-113.6,108-114,107.1" />
                        </g>
                        <g id="g36" transform="translate(399.7305,320.083)">
                          <path id="path38" class="st1" d="M-80.2,149.3c12.5,0,36.8,0,36.8,0V205c0,0,0.1,6.8-1.2,9.6c-0.1,0.3-1.6,2.8-2.2,3.7
                                                                          c-1.1,1.5-6.8,6.9-17,10.3c-10.1,3.4-16,2.9-25.1,2.2c-13.9-1-25.6-4.1-32.1-12.6c-3.7-4.8-4.8-10.8-4.8-19.5h38.4
                                                                          c0,3.3,0,6,2.9,6.3c1.4,0.1,2.9-0.5,3.7-1.7c0.9-1.2,1.1-4.2,0-6.1c-0.6-0.9-1.1-2.3-5.5-3c-9.3-1.5-20.8,0.4-29.5-1.5
                                                                          c-2.8-0.6-6.2-3-7.8-5.2c-2.3-3.2-2.8-7.2-3.3-12.2c-2-18.9,10.3-27.9,28.8-26.6c4.2,0.3,5.6-0.2,9.6,1.7
                                                                          c6.6,3.2,8.2,6.2,8.3,6.4V149.3z M-81.2,175.8c-2-3-8.3-1.5-7.4,3.3c0.3,1.7,8.1,6.6,8.1,6.6
                                                                          C-80.5,182.6-79.8,177.8-81.2,175.8" />
                        </g>
                        <g id="g40" transform="translate(297.6753,363.6162)">
                          <path id="path42" class="st1" d="M-80.2,149.3c-5.8,3.9-20.2,2.6-29.9,2.6c-2.9,0-6.9-0.5-9.2,0.4c-2.2,0.8-4.1,4-3.3,7.8
                                                                          c0.1,0.8,1,1.8,1.5,2.2c1,0.8,2.7,1.6,4.4,0.7c1.5-0.8,1.5-3.5,1.5-5.9h39.1c0,5.7-1.2,13.3-4.4,18.5
                                                                          c-6.5,10.4-26.4,13.3-46.1,11.8c-8.7-0.6-16.9-2.7-22.9-6.3c-4.8-2.8-7.9-6.9-9.6-12.9c-1.3-4.5-1.9-9.6-0.7-14.8
                                                                          c1-4.4,5.7-9.5,5.9-9.6c0.4-0.2,2.2-1.3,5.2-1.9c8.5-1.7,19.5,0.7,28-0.7c1.5-0.2,2.3-0.1,3.3-0.7c1.5-1,2.7-5,1.8-8.1
                                                                          c-0.2-0.7-1.9-2.1-2.6-2.2c-1.1-0.2-2.7,0.3-3.3,0.7c-1.3,0.9-1.1,3.6-1.1,5.9h-38c0-7.7-0.5-16.1,3-20.7
                                                                          c2.4-3.2,8.6-7.6,13.3-9.2c13.2-4.5,40-3.9,52.8,0.4c6.3,2.1,11.7,6.3,14,12.6c1.9,5.2,2.4,13.8,1.5,20.7
                                                                          C-76.7,144.2-77.7,147.5-80.2,149.3" />
                        </g>
                        <g id="g44" transform="translate(348.4863,431.397)">
                          <path id="path46" class="st1" d="M-80.2,149.3l-38.3,0.1l-0.2-111.6l38.4,0.2V149.3z" />
                        </g>
                        <g id="g48" transform="translate(447.1289,410.1924)">
                          <path id="path50" class="st2"
                            d="M-80.2,149.3c-2.3-2.2-3.4-4.8-3.4-7.8c0-3.1,1.1-5.7,3.4-7.9c2.3-2.2,5-3.3,8.2-3.3
                                                                          c3.2,0,6,1.1,8.2,3.3c2.2,2.2,3.4,4.8,3.4,7.9c0,3.1-1.1,5.7-3.4,7.8c-2.3,2.2-5,3.3-8.2,3.3C-75.3,152.5-78,151.4-80.2,149.3
                                                                          M-62.5,132.3c-2.6-2.5-5.8-3.8-9.6-3.8c-3.7,0-6.9,1.3-9.5,3.8c-2.6,2.5-3.9,5.6-3.9,9.1c0,3.5,1.3,6.6,4,9.1
                                                                          c2.6,2.5,5.8,3.8,9.5,3.8c3.7,0,6.9-1.3,9.6-3.8c2.6-2.5,4-5.5,4-9.1C-58.5,137.8-59.9,134.8-62.5,132.3 M-69.5,146.3
                                                                          c-0.7,0.4-1.7,0.5-3.2,0.5h-2.2v-5.1h2.3c1.1,0,2,0.1,2.5,0.3c1,0.4,1.5,1.1,1.5,2.2C-68.5,145.2-68.9,145.9-69.5,146.3
                                                                          M-72.3,148.5c1.9,0,3.2-0.2,4.1-0.5c1.5-0.6,2.3-1.8,2.3-3.6c0-1.3-0.5-2.2-1.4-2.8c-0.5-0.3-1.2-0.5-2.2-0.7
                                                                          c1.2-0.2,2-0.6,2.6-1.4c0.5-0.7,0.8-1.5,0.8-2.2v-1c0-0.3,0-0.7,0-1.1c0-0.4,0.1-0.6,0.1-0.7l0.1-0.2h-2.4c0,0,0,0.1,0,0.2
                                                                          c0,0,0,0.1,0,0.1l-0.1,0.5v1.1c0,1.6-0.5,2.7-1.4,3.2c-0.5,0.3-1.5,0.5-2.9,0.5h-2v-5.6h-2.6v14.1H-72.3z" />
                        </g>
                        <g id="g52" transform="translate(193.3848,435.8281)">
                          <path id="path54" class="st1" d="M-80.2,149.3c10.7,0,21.3-5.4,21.3-16.5c0-10.8-10.6-16.5-21.3-16.5c-11,0-21.7,5-21.7,16.5
                                                                          C-102,143.7-91.2,149.3-80.2,149.3" />
                        </g>
                        <g id="g56" transform="translate(390.6797,307.1631)">
                          <path id="path58" class="st1"
                            d="M-80.2,149.3c-4,5.6-15.5,7.7-26.2,6.6c-7.3-0.7-16-9.6-16-9.6v8.8h-38.3V42.6h38.4v39.9
                                                                          c0.9-1.6,2.2-4.1,3.7-5.2c6.4-4.6,23-5.5,31.4-1.8c2.3,1,7.3,5.4,8.5,7.4c0.9,1.5,1.2,5,1.4,7v52.8
                                                                          C-77.7,145.5-79.4,148-80.2,149.3 M-115.4,103.1c0-3.1-7-3.1-7,0.1v23.2c0,3,7,3,7,0V103.1z" />
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
              SCADA
            </div>
          </b-navbar-brand>

          <b-navbar-toggle target="nav-collapse" v-if="isLoggedIn"></b-navbar-toggle>

          <b-collapse id="nav-collapse" is-nav v-if="isLoggedIn">
            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
              <b-nav-item></b-nav-item>
              <b-nav-item v-if="isAdmin" v-b-toggle.sidebar-admin>Admin</b-nav-item>
              <b-nav-item-dropdown right>
                <!-- Using 'button-content' slot -->
                <template #button-content>
                  <em>{{ email }}</em>
                </template>
                <b-dropdown-item v-if="isLoggedIn" v-b-toggle.sidebar-user>Ajustes de Usuario</b-dropdown-item>
                <b-dropdown-item @click="logout">Cerrar Sesión</b-dropdown-item>
              </b-nav-item-dropdown>
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>
      </div>
      <!-- Main content -->
      <b-container fluid>
        <!-- Skeleton Placeholder -->
        <div v-if="showSkeleton">
          <div class="row align-items-center justify-content-center p-3 m-3">
            <div class="col-sm mt-3"><b-skeleton animation="wave" width="80%" height="200px"></b-skeleton></div>
            <div class="col-sm mt-3"><b-skeleton animation="wave" width="80%" height="200px"></b-skeleton></div>
            <div class="col-sm mt-3"><b-skeleton animation="wave" width="80%" height="200px"></b-skeleton></div>
          </div>
          <!-- Show the b-skeleton placeholders -->
          <div class="row align-items-center justify-content-center p-3 m-3">
            <div class="col-lg mt-3"><b-skeleton animation="wave" width="80%" height="400px"></b-skeleton></div>
          </div>
        </div>
        <!-- Actual Contents -->
        <div class="row" v-if="!showSkeleton">
          <loginforms :api_url="api_url" @submitlogin-event="onSubmit" @register-event="onRegister"
            @resendemail-event="onSendConfirmation" @endregistration-event="confirmRegistration" v-if="!isLoggedIn">
          </loginforms>
          <b-container v-if="isLoggedIn">
            <b-tabs lazy content-class="mt-3" align="center">
              <b-tab title="Estado de Maquinarias" active>
                <machinedata :pre_exp_arr="pre_exp_arr" :mold_arr="mold_arr"
                  :mold_control_values="mold_control_values" @cachereplay-event="cacheReplay">
                </machinedata>
              </b-tab>
              <b-tab title="Base de Datos">
                <database :query_results="query_results" :query_options="query_options" @lastn-event="getLastN"
                  @firstn-event="getFirstN" @daterange-event="getFromDateRange"
                  @datetimerange-event="getFromDateAndTimeRange" @maintenance-toggle-event="setCycleMaintenance" >
                </database>
              </b-tab>
              <b-tab title="Monitor de Variables productivas">
                <b-row>
                  <b-col lg="5">
                    <variablemonitor :chart_data="chart_data" :chart_options="chart_options"></variablemonitor>
                  </b-col>
                  <b-col lg="7">
                    <variabletables :table_data="table_data" :recipe_data="recipe_data"></variabletables>
                  </b-col>
                </b-row>
              </b-tab>
              <b-tab title="Límites de Control" v-if="showAdminTools">
                <controlvalues :mold_control_values="mold_control_values" @trigger-updatecontrolvalues="updateControlValues" ></controlvalues>
              </b-tab>
            </b-tabs>
          </b-container>
        </div>
      </b-container>
      <!-- Sidebar with Admin tools -->
      <b-sidebar id="sidebar-admin" lazy aria-label="Sidebar con herramientas de Administrador" width="100%"
        backdrop-variant="dark" backdrop no-header shadow v-if="showAdminTools">
        <!-- Footer y título -->
        <template>
          <div class="d-flex bg-dark text-light align-items-center px-3 py-2">
            <strong class="mr-auto">Herramientas de Administrador</strong>
            <b-button size="sm" variant="danger" v-b-toggle.sidebar-admin>Cerrar</b-button>
          </div>
        </template>
        <!-- Sidebar Content -->
        <b-contanier fluid>
          <b-card no-body>
            <b-tabs lazy pills card>
              <b-tab @click="getPermitted" title="Usuarios Permitidos" active>
                <b-row>
                  <b-col lg="6">
                    <edittable :admin_permitted_users="admin_permitted_users" @updateusers-event="updateAdminUsers">
                    </edittable>
                  </b-col>
                  <b-col cols="12" lg="6">
                    <addpermittedusers @insertpu-event="insertUsers"></addpermittedusers>
                  </b-col>
                </b-row>
              </b-tab>
              <b-tab @click="getRegistered" title="Usuarios Registrados">
                <admindata :admin_registered_users="admin_registered_users"
                  :admin_permitted_users="admin_permitted_users" @deluser-event="deleteUser" @getpu-event="getPermitted"
                  @getru-event="getRegistered"></admindata>
              </b-tab>
            </b-tabs>
          </b-card>
        </b-contanier>
      </b-sidebar>
      <!-- Sidebar with User tools -->
      <b-sidebar id="sidebar-user" variant="info" lazy right aria-label="Sidebar con ajustes de Usuario" width="100%"
        backdrop-variant="dark" backdrop no-header shadow v-if="isLoggedIn">
        <!-- Footer y título -->
        <template>
          <div class="d-flex bg-dark text-light align-items-center px-3 py-2">
            <strong class="mr-auto">Ajustes de Usuario</strong>
            <b-button size="sm" variant="danger" v-b-toggle.sidebar-user>Cerrar</b-button>
          </div>
        </template>
        <!-- Sidebar Content -->
        <b-contanier fluid>
          <b-card no-body>
            <b-tabs lazy pills card>
              <b-tab title="Cambiar de Correo" active>
                <emailchange @emailchange-event="resetUserEmail" @emailconfirmation-event="confirmUserEmailChange" ></emailchange>
              </b-tab>
              <b-tab title="Cambiar Contraseña">
                <passwordreset @password-reset="resetUserPassword"></passwordreset>
              </b-tab>
              <b-tab title="Eliminar Cuenta">
                <deleteself @deluser-event="deleteUser"></deleteself>
              </b-tab>
            </b-tabs>
          </b-card>
        </b-contanier>
      </b-sidebar>
    </b-container>
  </div>
</body>

</html>