<!doctype html>
<html lang="en"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Vue v2 + bootstrap-vue template - Node-RED uibuilder</title>
    <meta name="description" content="Node-RED uibuilder - Vue v2 + bootstrap-vue template">
    <link rel="icon" href="../uibuilder/images/node-blue.ico">

    <!-- #region Supporting CSS. -->
    <link type="text/css" rel="stylesheet" href="../uibuilder/vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="./index.css" media="all"><!-- Your own CSS -->
    <!-- #endregion -->

    <!-- #region Supporting Scripts. These MUST be in the right order. Note no leading / - socket.io no longer needed -->
    <script defer src="../uibuilder/vendor/vue/dist/vue.min.js">/* prod version with component compiler */</script>
    <script defer src="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.min.js">/* remove 'min.' to use dev version */</script>
    <script defer src="../uibuilder/uibuilder.iife.min.js"></script>
    <script defer src="./index.js">/* OPTIONAL: Put your custom code in that */</script>
    <!-- #endregion -->
    
</head><body>

    <div id="app" class="uib" v-cloak><!-- All UI code needs to be within here for Vue -->
        <b-container id="app_container"><!-- Wraps the bootstrap-vue formatting -->
            <!-- <b-img src="../../common/images/logo_fondo_blanco.svg" rounded left v-bind="imgProps" alt="Aislapol" class="mt-1 mr-2"></b-img> -->
            <div class="row">
                <div class="col-">
                    <svg version="1.1" width="150" height="150"
                        id="svg2" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 606 325"
                        style="enable-background:new 0 0 606 325;" xml:space="preserve" class="mt-1 mr-2">
                        <style type="text/css">
                            .st0{clip-path:url(#SVGID_2_);}
                            .st1{fill:#009EE0;}
                            .st2{fill-rule:evenodd;clip-rule:evenodd;fill:#009EE0;}
                            .st3{fill:#707173;}
                            .g{fill: aqua;}
                        </style>
                        <g id="g10" transform="matrix(1.3333333,0,0,-1.3333333,0,785.872)">
                            <g id="g12">
                                <g>
                                    <defs>
                                        <rect id="SVGID_1_" x="-182.2" y="51" width="816" height="785.9"/>
                                    </defs>
                                    <clipPath id="SVGID_2_">
                                        <use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
                                    </clipPath>
                                    <g id="g14" class="st0">
                                        <g id="g20" transform="translate(482.1992,290.9209)">
                                            <path id="path22" class="st1" d="M-80.2,149.3c-0.1,1.8,0.1,3-0.4,4.4c-1,3.2-4.9,8.5-7.4,10.3c-7.2,5.5-20.5,8.8-33.9,8.6
                                                c-14.1-0.3-26.8-2.8-34.7-9.7c-2.7-2.3-5.1-6.6-5.9-10.7l0.1-46.1c0.6-2.3,3.5-5.9,5.1-7.4c0,0,4.4-4,10.3-5.9
                                                c9.5-3,28.7-3.8,40.6-2.2c8.7,1.2,18.7,5.4,22.9,11.1c1.3,1.9,2.8,4.9,3.3,7.4V149.3z M-117.9,119.4c-0.2-0.6-1.7-2.1-2.2-2.2
                                                c-2.6-0.6-4.5,0.8-4.8,2.3v23.2c0.1,0.8,1.8,2.1,2.6,2.2c2.1,0.4,4.1-0.9,4.4-2.2V119.4z"/>
                                        </g>
                                        <g id="g24" transform="translate(488.0254,345.6807)">
                                            <path id="path26" class="st1" d="M-80.2,149.3l0.1-111.6h37.3v111.4L-80.2,149.3z"/>
                                        </g>
                                        <g id="g28" transform="translate(174.7876,320.1143)">
                                            <path id="path30" class="st1" d="M-80.2,149.3H-43v78.9l-37.3,0.1L-80.2,149.3z"/>
                                        </g>
                                        <g id="g32" transform="translate(164.729,388.6045)">
                                            <path id="path34" class="st1" d="M-80.2,149.3c-5,6.5-9.1,7.6-9.1,7.6c-9.7,3.8-20.1,6.2-34.7,5.2c-7.7-0.5-14.9-2.4-20.3-5.5
                                                c-9.3-6.5-11.7-14.2-11.8-14.8c-1-3.6-0.7-7.9-0.7-12.2h36.2c0,2.8,0,5.4,1.8,6.3c1.7,0.8,4.2,0.2,4.8-1.1c2-4-0.8-8.3-3.3-9.2
                                                c-5.1-1.7-15.8,0.1-22.1-0.4c-3.6-0.3-7.4-1.3-10-2.6c-1.9-0.9-3.7-1.7-4.8-3.3c-0.3-0.5-1.1-1.8-1.1-1.8
                                                c-1.6-2.4-1.8-5.7-2.2-9.2c-1-8.4,0.7-15.5,4.4-20.3c1.1-1.5,4.8-4.2,5.1-4.4c4.7-2.9,12.6-3.8,19.9-3c2.2,0.3,3.7,0.1,5.5,0.7
                                                c1.5,0.5,6.5,3.7,7.4,4.8c0.4,0.5,1.7,2.1,1.8,2.2v-7.4h36.9v56.1C-76.7,141-75.9,143.6-80.2,149.3 M-114,107.1
                                                c-0.2-0.5-1-0.5-1.5-0.7c-4.2-2.2-7.6,1.7-5.2,5.5c0.4,0.7,1.2,0.6,1.8,1.1c1.6,1.3,5.2,3.3,5.2,3.3S-113.6,108-114,107.1"/>
                                        </g>
                                        <g id="g36" transform="translate(399.7305,320.083)">
                                            <path id="path38" class="st1" d="M-80.2,149.3c12.5,0,36.8,0,36.8,0V205c0,0,0.1,6.8-1.2,9.6c-0.1,0.3-1.6,2.8-2.2,3.7
                                                c-1.1,1.5-6.8,6.9-17,10.3c-10.1,3.4-16,2.9-25.1,2.2c-13.9-1-25.6-4.1-32.1-12.6c-3.7-4.8-4.8-10.8-4.8-19.5h38.4
                                                c0,3.3,0,6,2.9,6.3c1.4,0.1,2.9-0.5,3.7-1.7c0.9-1.2,1.1-4.2,0-6.1c-0.6-0.9-1.1-2.3-5.5-3c-9.3-1.5-20.8,0.4-29.5-1.5
                                                c-2.8-0.6-6.2-3-7.8-5.2c-2.3-3.2-2.8-7.2-3.3-12.2c-2-18.9,10.3-27.9,28.8-26.6c4.2,0.3,5.6-0.2,9.6,1.7
                                                c6.6,3.2,8.2,6.2,8.3,6.4V149.3z M-81.2,175.8c-2-3-8.3-1.5-7.4,3.3c0.3,1.7,8.1,6.6,8.1,6.6
                                                C-80.5,182.6-79.8,177.8-81.2,175.8"/>
                                        </g>
                                        <g id="g40" transform="translate(297.6753,363.6162)">
                                            <path id="path42" class="st1" d="M-80.2,149.3c-5.8,3.9-20.2,2.6-29.9,2.6c-2.9,0-6.9-0.5-9.2,0.4c-2.2,0.8-4.1,4-3.3,7.8
                                                c0.1,0.8,1,1.8,1.5,2.2c1,0.8,2.7,1.6,4.4,0.7c1.5-0.8,1.5-3.5,1.5-5.9h39.1c0,5.7-1.2,13.3-4.4,18.5
                                                c-6.5,10.4-26.4,13.3-46.1,11.8c-8.7-0.6-16.9-2.7-22.9-6.3c-4.8-2.8-7.9-6.9-9.6-12.9c-1.3-4.5-1.9-9.6-0.7-14.8
                                                c1-4.4,5.7-9.5,5.9-9.6c0.4-0.2,2.2-1.3,5.2-1.9c8.5-1.7,19.5,0.7,28-0.7c1.5-0.2,2.3-0.1,3.3-0.7c1.5-1,2.7-5,1.8-8.1
                                                c-0.2-0.7-1.9-2.1-2.6-2.2c-1.1-0.2-2.7,0.3-3.3,0.7c-1.3,0.9-1.1,3.6-1.1,5.9h-38c0-7.7-0.5-16.1,3-20.7
                                                c2.4-3.2,8.6-7.6,13.3-9.2c13.2-4.5,40-3.9,52.8,0.4c6.3,2.1,11.7,6.3,14,12.6c1.9,5.2,2.4,13.8,1.5,20.7
                                                C-76.7,144.2-77.7,147.5-80.2,149.3"/>
                                        </g>
                                        <g id="g44" transform="translate(348.4863,431.397)">
                                            <path id="path46" class="st1" d="M-80.2,149.3l-38.3,0.1l-0.2-111.6l38.4,0.2V149.3z"/>
                                        </g>
                                        <g id="g48" transform="translate(447.1289,410.1924)">
                                            <path id="path50" class="st2" d="M-80.2,149.3c-2.3-2.2-3.4-4.8-3.4-7.8c0-3.1,1.1-5.7,3.4-7.9c2.3-2.2,5-3.3,8.2-3.3
                                                c3.2,0,6,1.1,8.2,3.3c2.2,2.2,3.4,4.8,3.4,7.9c0,3.1-1.1,5.7-3.4,7.8c-2.3,2.2-5,3.3-8.2,3.3C-75.3,152.5-78,151.4-80.2,149.3
                                                M-62.5,132.3c-2.6-2.5-5.8-3.8-9.6-3.8c-3.7,0-6.9,1.3-9.5,3.8c-2.6,2.5-3.9,5.6-3.9,9.1c0,3.5,1.3,6.6,4,9.1
                                                c2.6,2.5,5.8,3.8,9.5,3.8c3.7,0,6.9-1.3,9.6-3.8c2.6-2.5,4-5.5,4-9.1C-58.5,137.8-59.9,134.8-62.5,132.3 M-69.5,146.3
                                                c-0.7,0.4-1.7,0.5-3.2,0.5h-2.2v-5.1h2.3c1.1,0,2,0.1,2.5,0.3c1,0.4,1.5,1.1,1.5,2.2C-68.5,145.2-68.9,145.9-69.5,146.3
                                                M-72.3,148.5c1.9,0,3.2-0.2,4.1-0.5c1.5-0.6,2.3-1.8,2.3-3.6c0-1.3-0.5-2.2-1.4-2.8c-0.5-0.3-1.2-0.5-2.2-0.7
                                                c1.2-0.2,2-0.6,2.6-1.4c0.5-0.7,0.8-1.5,0.8-2.2v-1c0-0.3,0-0.7,0-1.1c0-0.4,0.1-0.6,0.1-0.7l0.1-0.2h-2.4c0,0,0,0.1,0,0.2
                                                c0,0,0,0.1,0,0.1l-0.1,0.5v1.1c0,1.6-0.5,2.7-1.4,3.2c-0.5,0.3-1.5,0.5-2.9,0.5h-2v-5.6h-2.6v14.1H-72.3z"/>
                                        </g>
                                        <g id="g52" transform="translate(193.3848,435.8281)">
                                            <path id="path54" class="st1" d="M-80.2,149.3c10.7,0,21.3-5.4,21.3-16.5c0-10.8-10.6-16.5-21.3-16.5c-11,0-21.7,5-21.7,16.5
                                                C-102,143.7-91.2,149.3-80.2,149.3"/>
                                        </g>
                                        <g id="g56" transform="translate(390.6797,307.1631)">
                                            <path id="path58" class="st1" d="M-80.2,149.3c-4,5.6-15.5,7.7-26.2,6.6c-7.3-0.7-16-9.6-16-9.6v8.8h-38.3V42.6h38.4v39.9
                                                c0.9-1.6,2.2-4.1,3.7-5.2c6.4-4.6,23-5.5,31.4-1.8c2.3,1,7.3,5.4,8.5,7.4c0.9,1.5,1.2,5,1.4,7v52.8
                                                C-77.7,145.5-79.4,148-80.2,149.3 M-115.4,103.1c0-3.1-7-3.1-7,0.1v23.2c0,3,7,3,7,0V103.1z"/>
                                        </g>
                                        <path class="st3" d="M79,318v-3.9c0.5,0,1-0.1,1.5-0.1v5.1C80.1,318.8,79.5,318.4,79,318z"/>
                                        <g id="g86" transform="translate(174.5884,165.4893)">
                                            <path class="st3" d="M-80.1,154.1c-0.3,0.3-0.6,0.6-0.9,0.8c-2.5,0-4.9,0-7.4,0c-0.3-0.2-0.6-0.5-0.9-0.8
                                                c-0.5-0.6-0.9-1.4-1.1-2.2c-0.3-0.8-0.4-1.7-0.4-2.7c0-0.3,0-0.7,0-1c0.5,0,1.1-0.1,1.6-0.1c0,0.4-0.1,0.7-0.1,1.1
                                                c0,0.7,0.1,1.4,0.3,2.1c0.2,0.7,0.4,1.3,0.8,1.8c0.4,0.5,0.8,0.9,1.4,1.2c0.6,0.3,1.2,0.5,2,0.5c0.8,0,1.5-0.1,2-0.4
                                                c0.6-0.3,1-0.7,1.4-1.2c0.4-0.5,0.6-1.1,0.8-1.8c0.2-0.7,0.3-1.4,0.3-2.2c0-0.6-0.1-1.2-0.2-1.8c0.5,0,1.1-0.1,1.6-0.1
                                                c0.1,0.6,0.2,1.3,0.2,2c0,1-0.1,1.9-0.4,2.7C-79.2,152.8-79.6,153.5-80.1,154.1z"/>
                                        </g>
                                        <g id="g90" transform="translate(180.7593,158.9395)">
                                            <path class="st3" d="M-72,160.8c-0.4,0.6-0.9,1-1.5,1.3c-1.8-0.2-3.5-0.3-5.3-0.4c-0.5-0.4-1-0.8-1.4-1.3v1.2
                                                c-0.5,0-1,0-1.5-0.1v-8.1c0.5,0,1-0.1,1.5-0.1v2.9c0,0.5,0,0.9,0.1,1.3c0,0.4,0.1,0.8,0.3,1.2c0.1,0.3,0.3,0.7,0.5,1
                                                c0.2,0.3,0.5,0.6,0.8,0.8c0.3,0.2,0.7,0.4,1,0.6c0.4,0.1,0.8,0.2,1.3,0.2c1.2,0,2.1-0.3,2.6-0.9c0.5-0.6,0.8-1.5,0.8-2.7v-5
                                                c0.5,0,1-0.1,1.5-0.1v5.2c0,0.5,0,1.1-0.1,1.6C-71.5,159.9-71.7,160.4-72,160.8z"/>
                                        </g>
                                        <g id="g94" transform="translate(202.1309,165.8184)">
                                            <path class="st3" d="M-80.8,150.4c-0.3-0.1-0.6-0.2-1-0.3c-0.4-0.1-0.7-0.1-1-0.2l-2.1-0.3c-3.1-0.4-4.6-1.7-4.6-3.9
                                                c0-0.1,0-0.2,0-0.3c0.5-0.1,1.1-0.1,1.6-0.2c0,0.1,0,0.3,0,0.4c0,0.9,0.3,1.6,1,2c0.6,0.4,1.6,0.7,2.7,0.8c0.7,0,1.3,0.1,2,0.2
                                                c0.7,0.1,1.3,0.3,1.9,0.5v-2.1c0-0.7-0.1-1.2-0.4-1.7c-0.2-0.3-0.4-0.6-0.7-0.8c0.9-0.1,1.7-0.2,2.6-0.3c0,0.1,0,0.1,0,0.2v7.1
                                                c0,0.8-0.1,1.4-0.4,1.9c-0.2,0.5-0.6,0.9-1,1.3c-0.4,0.3-0.9,0.5-1.5,0.7c-0.6,0.1-1.2,0.2-1.9,0.2c-0.7,0-1.4-0.1-2-0.2
                                                c-0.6-0.2-1.2-0.4-1.7-0.8c-0.5-0.3-0.9-0.8-1.2-1.3c-0.3-0.5-0.5-1.2-0.5-2h1.5c0.1,0.6,0.2,1.1,0.4,1.4
                                                c0.2,0.4,0.5,0.7,0.8,0.9c0.3,0.2,0.7,0.4,1.1,0.5c0.4,0.1,0.9,0.1,1.4,0.1c1.2,0,2-0.2,2.5-0.7c0.5-0.5,0.7-1.1,0.7-1.9
                                                c0-0.2,0-0.5-0.1-0.8C-80.4,150.8-80.6,150.6-80.8,150.4z"/>
                                        </g>
                                        <path class="st3" d="M129.4,309.6v16.8h-1.5v-16.6C128.4,309.7,128.9,309.7,129.4,309.6z"/>
                                        <g id="g100" transform="translate(223.2227,166.3994)">
                                            <path class="st3" d="M-89,143.4c0.2-0.3,0.5-0.5,0.8-0.8c2.2-0.2,4.3-0.5,6.5-0.7c0.4,0.2,0.8,0.4,1.1,0.7
                                                c0.5,0.4,0.8,0.9,1.1,1.4c0.3,0.5,0.5,1.1,0.7,1.7h-1.7c-0.2-1-0.7-1.7-1.4-2.2c-0.7-0.5-1.6-0.8-2.6-0.8
                                                c-0.7,0-1.4,0.1-1.9,0.4c-0.6,0.3-1,0.6-1.4,1.1c-0.4,0.5-0.6,1-0.8,1.6c-0.2,0.6-0.3,1.3-0.3,2h10.2c0,2.4-0.5,4.2-1.5,5.4
                                                c-1,1.2-2.4,1.9-4.2,1.9c-0.9,0-1.8-0.2-2.5-0.5c-0.7-0.4-1.4-0.9-1.9-1.5c-0.5-0.6-0.9-1.4-1.2-2.2c-0.3-0.8-0.4-1.7-0.4-2.7
                                                c0-1,0.1-1.9,0.4-2.7C-89.8,144.8-89.5,144-89,143.4z M-88.4,151c0.2,0.6,0.5,1,0.9,1.5c0.4,0.4,0.8,0.8,1.3,1
                                                c0.5,0.3,1.1,0.4,1.8,0.4c0.7,0,1.3-0.1,1.8-0.4c0.5-0.2,1-0.6,1.3-1c0.3-0.4,0.6-0.9,0.8-1.5c0.2-0.6,0.3-1.2,0.3-1.8h-8.5
                                                C-88.7,149.9-88.6,150.5-88.4,151z"/>
                                        </g>
                                        <g id="g104" transform="translate(228.9385,163.0361)">
                                            <path id="path106" class="st3" d="M-80.2,149.3c0.2-1.1,0.7-1.9,1.3-2.4c0.6-0.5,1.5-0.7,2.6-0.7c0.6,0,1,0.1,1.4,0.2
                                                c0.4,0.1,0.7,0.3,1,0.5c0.3,0.2,0.5,0.5,0.6,0.8s0.2,0.6,0.2,0.9c0,0.6-0.2,1.1-0.6,1.4c-0.4,0.3-0.9,0.6-1.6,0.7
                                                c-0.6,0.2-1.3,0.3-2,0.5s-1.4,0.3-2,0.6c-0.6,0.3-1.1,0.6-1.6,1.1c-0.4,0.5-0.6,1.1-0.6,2c0,1.1,0.4,2,1.2,2.7
                                                c0.8,0.7,1.9,1,3.4,1c1.4,0,2.6-0.3,3.5-0.9c0.9-0.6,1.4-1.7,1.6-3.2h-1.5c-0.1,1-0.5,1.7-1.2,2.1c-0.6,0.4-1.4,0.6-2.4,0.6
                                                c-1,0-1.7-0.2-2.2-0.6c-0.5-0.4-0.8-1-0.8-1.6c0-0.6,0.2-1,0.6-1.4c0.4-0.3,0.9-0.6,1.6-0.8c0.6-0.2,1.3-0.4,2-0.5
                                                c0.7-0.2,1.4-0.4,2-0.6c0.6-0.3,1.1-0.7,1.6-1.1c0.4-0.5,0.6-1.1,0.6-2c0-0.6-0.1-1.2-0.4-1.7c-0.3-0.5-0.6-0.9-1.1-1.2
                                                c-0.5-0.3-1-0.6-1.7-0.7c-0.7-0.2-1.4-0.2-2.1-0.2c-0.8,0-1.5,0.1-2.1,0.3c-0.6,0.2-1.1,0.5-1.5,0.9c-0.4,0.4-0.8,0.9-1,1.4
                                                c-0.2,0.5-0.4,1.1-0.4,1.7H-80.2z"/>
                                        </g>
                                        <g id="g108" transform="translate(257.7197,166.3994)">
                                            <path id="path110" class="st3" d="M-80.2,149.3c0,0.6-0.1,1.2-0.3,1.8c-0.2,0.6-0.4,1.1-0.8,1.5c-0.3,0.4-0.8,0.7-1.3,1
                                                c-0.5,0.2-1.1,0.4-1.8,0.4c-0.7,0-1.3-0.1-1.8-0.4c-0.5-0.3-1-0.6-1.3-1c-0.4-0.4-0.7-0.9-0.9-1.5s-0.4-1.1-0.4-1.8H-80.2z
                                                M-88.8,148c0-0.7,0.1-1.4,0.3-2s0.5-1.2,0.8-1.6c0.4-0.5,0.8-0.8,1.4-1.1c0.6-0.3,1.2-0.4,1.9-0.4c1,0,1.8,0.3,2.6,0.8
                                                c0.7,0.5,1.2,1.3,1.4,2.2h1.7c-0.2-0.6-0.4-1.2-0.7-1.7c-0.3-0.5-0.7-1-1.1-1.4c-0.5-0.4-1-0.7-1.6-0.9
                                                c-0.6-0.2-1.3-0.3-2.2-0.3c-1,0-1.9,0.2-2.7,0.5s-1.4,0.8-1.9,1.5c-0.5,0.6-0.9,1.3-1.1,2.2c-0.2,0.8-0.4,1.7-0.4,2.7
                                                s0.1,1.9,0.4,2.7c0.3,0.8,0.7,1.6,1.2,2.2c0.5,0.6,1.1,1.1,1.9,1.5c0.7,0.4,1.6,0.5,2.5,0.5c1.8,0,3.2-0.6,4.2-1.9
                                                c1-1.2,1.5-3,1.5-5.4H-88.8z"/>
                                        </g>
                                        <g id="g112" transform="translate(264.0679,158.9395)">
                                            <path id="path114" class="st3" d="M-80.2,149.3h-1.5v13.1h1.5v-1.8c0.6,0.6,1.2,1.2,1.9,1.6c0.6,0.4,1.4,0.6,2.3,0.6
                                                c0.8,0,1.6-0.1,2.3-0.4c0.7-0.3,1.3-0.8,1.7-1.5c0.3-0.5,0.5-1,0.6-1.5c0.1-0.5,0.1-1,0.1-1.6v-8.6h-1.5v8.5
                                                c0,1.2-0.3,2.1-0.8,2.7c-0.5,0.6-1.4,0.9-2.6,0.9c-0.5,0-0.9-0.1-1.3-0.2c-0.4-0.1-0.7-0.3-1.1-0.6c-0.3-0.2-0.6-0.5-0.8-0.8
                                                c-0.2-0.3-0.4-0.6-0.5-1c-0.2-0.4-0.2-0.8-0.3-1.2c0-0.4-0.1-0.8-0.1-1.3V149.3z"/>
                                        </g>
                                        <g id="g116" transform="translate(284.3765,158.9395)">
                                            <path id="path118" class="st3" d="M-80.2,149.3v18.2h12.1V166h-10.4v-6.6h9.4v-1.5h-9.4v-7.2h10.6v-1.5H-80.2z"/>
                                        </g>
                                        <path id="path120" class="st3" d="M227.2,321.3h1.5v-13.1h-1.5V321.3z M228.8,324.1h-1.7v2.3h1.7V324.1z M218.1,320v1.3h2v2.1
                                            c0,1,0.2,1.9,0.6,2.5c0.4,0.6,1.1,0.9,2.1,0.9c0.2,0,0.5,0,0.7,0c0.2,0,0.4,0,0.6-0.1v-1.4c-0.3,0.1-0.6,0.1-0.9,0.1
                                            c-0.4,0-0.7-0.1-0.9-0.2c-0.2-0.1-0.4-0.3-0.5-0.6c-0.1-0.2-0.2-0.5-0.2-0.8c0-0.3,0-0.6,0-0.9v-1.6h2.5V320h-2.5v-11.8h-1.5
                                            V320H218.1z"/>
                                        <g id="g122" transform="translate(322.0352,167.917)">
                                            <path id="path124" class="st3" d="M-80.2,149.3c-0.3,1-0.7,1.7-1.4,2.3c-0.7,0.5-1.5,0.8-2.5,0.8c-0.8,0-1.4-0.2-2-0.5
                                                c-0.6-0.3-1-0.7-1.4-1.3c-0.4-0.5-0.6-1.1-0.8-1.8c-0.2-0.7-0.3-1.3-0.3-2c0-0.7,0.1-1.4,0.2-2c0.2-0.7,0.4-1.2,0.8-1.8
                                                c0.4-0.5,0.8-0.9,1.4-1.3c0.6-0.3,1.2-0.5,2-0.5c1.1,0,2,0.3,2.7,0.9c0.7,0.6,1.1,1.5,1.3,2.6h1.6c-0.1-0.7-0.3-1.4-0.6-2
                                                c-0.3-0.6-0.7-1.1-1.1-1.5c-0.5-0.4-1-0.8-1.7-1c-0.6-0.2-1.4-0.4-2.2-0.4c-1,0-1.9,0.2-2.7,0.5c-0.8,0.4-1.4,0.8-1.9,1.5
                                                c-0.5,0.6-0.8,1.3-1.1,2.2s-0.4,1.7-0.4,2.7c0,0.9,0.1,1.8,0.4,2.6c0.3,0.8,0.6,1.6,1.2,2.2c0.5,0.6,1.1,1.2,1.9,1.5
                                                c0.8,0.4,1.6,0.6,2.6,0.6c1.5,0,2.7-0.4,3.7-1.1c0.9-0.7,1.5-1.9,1.8-3.4H-80.2z"/>
                                        </g>
                                        <path id="path126" class="st3" d="M247,321.3h1.5v-13.1H247V321.3z M247,326.4h1.7v-2.3H247V326.4z"/>
                                        <g id="g128" transform="translate(342.4199,166.3994)">
                                            <path id="path130" class="st3" d="M-80.2,149.3c0,0.6-0.1,1.2-0.3,1.8c-0.2,0.6-0.4,1.1-0.8,1.5c-0.3,0.4-0.8,0.7-1.3,1
                                                c-0.5,0.2-1.1,0.4-1.8,0.4c-0.7,0-1.3-0.1-1.8-0.4c-0.5-0.3-1-0.6-1.3-1c-0.4-0.4-0.7-0.9-0.9-1.5s-0.4-1.1-0.4-1.8H-80.2z
                                                M-88.8,148c0-0.7,0.1-1.4,0.3-2c0.2-0.6,0.5-1.2,0.8-1.6c0.4-0.5,0.8-0.8,1.4-1.1c0.6-0.3,1.2-0.4,1.9-0.4
                                                c1,0,1.8,0.3,2.6,0.8c0.7,0.5,1.2,1.3,1.4,2.2h1.7c-0.2-0.6-0.4-1.2-0.7-1.7c-0.3-0.5-0.7-1-1.1-1.4c-0.5-0.4-1-0.7-1.6-0.9
                                                c-0.6-0.2-1.3-0.3-2.2-0.3c-1,0-1.9,0.2-2.7,0.5c-0.8,0.4-1.4,0.8-1.9,1.5c-0.5,0.6-0.9,1.3-1.1,2.2c-0.2,0.8-0.4,1.7-0.4,2.7
                                                s0.1,1.9,0.4,2.7c0.3,0.8,0.7,1.6,1.2,2.2c0.5,0.6,1.1,1.1,1.9,1.5c0.7,0.4,1.6,0.5,2.5,0.5c1.8,0,3.2-0.6,4.2-1.9
                                                c1-1.2,1.5-3,1.5-5.4H-88.8z"/>
                                        </g>
                                        <g id="g132" transform="translate(348.7666,158.9395)">
                                            <path id="path134" class="st3" d="M-80.2,149.3h-1.5v13.1h1.5v-1.8c0.6,0.6,1.2,1.2,1.9,1.6c0.6,0.4,1.4,0.6,2.3,0.6
                                                c0.8,0,1.6-0.1,2.3-0.4c0.7-0.3,1.3-0.8,1.7-1.5c0.3-0.5,0.5-1,0.6-1.5c0.1-0.5,0.1-1,0.1-1.6v-8.6h-1.5v8.5
                                                c0,1.2-0.3,2.1-0.8,2.7c-0.5,0.6-1.4,0.9-2.6,0.9c-0.5,0-0.9-0.1-1.3-0.2c-0.4-0.1-0.7-0.3-1-0.6c-0.3-0.2-0.6-0.5-0.8-0.8
                                                c-0.2-0.3-0.4-0.6-0.5-1c-0.2-0.4-0.2-0.8-0.3-1.2c0-0.4-0.1-0.8-0.1-1.3V149.3z"/>
                                        </g>
                                        <g id="g136" transform="translate(370.8467,167.917)">
                                            <path id="path138" class="st3" d="M-80.2,149.3c-0.3,1-0.7,1.7-1.4,2.3c-0.7,0.5-1.5,0.8-2.5,0.8c-0.8,0-1.4-0.2-2-0.5
                                                c-0.6-0.3-1-0.7-1.4-1.3c-0.4-0.5-0.6-1.1-0.8-1.8c-0.2-0.7-0.3-1.3-0.3-2c0-0.7,0.1-1.4,0.2-2c0.2-0.7,0.4-1.2,0.8-1.8
                                                c0.4-0.5,0.8-0.9,1.4-1.3c0.6-0.3,1.2-0.5,2-0.5c1.1,0,2,0.3,2.7,0.9c0.7,0.6,1.1,1.5,1.3,2.6h1.6c-0.1-0.7-0.3-1.4-0.6-2
                                                c-0.3-0.6-0.7-1.1-1.1-1.5c-0.5-0.4-1-0.8-1.7-1c-0.6-0.2-1.4-0.4-2.2-0.4c-1,0-1.9,0.2-2.7,0.5c-0.8,0.4-1.4,0.8-1.9,1.5
                                                c-0.5,0.6-0.8,1.3-1.1,2.2s-0.4,1.7-0.4,2.7c0,0.9,0.1,1.8,0.4,2.6c0.3,0.8,0.6,1.6,1.2,2.2c0.5,0.6,1.1,1.2,1.9,1.5
                                                c0.8,0.4,1.6,0.6,2.6,0.6c1.5,0,2.7-0.4,3.7-1.1c0.9-0.7,1.5-1.9,1.8-3.4H-80.2z"/>
                                        </g>
                                        <path id="path140" class="st3" d="M295.9,321.3h1.5v-13.1h-1.5V321.3z M295.8,326.4h1.7v-2.3h-1.7V326.4z"/>
                                        <g id="g142" transform="translate(390.3203,165.8184)">
                                            <path id="path144" class="st3" d="M-80.2,149.3c-0.6-0.3-1.3-0.4-1.9-0.5c-0.7-0.1-1.3-0.2-2-0.2c-1.2-0.1-2.1-0.3-2.7-0.8
                                                c-0.6-0.4-1-1.1-1-2c0-0.4,0.1-0.8,0.2-1c0.2-0.3,0.4-0.5,0.6-0.7c0.3-0.2,0.6-0.3,0.9-0.4c0.3-0.1,0.7-0.1,1.1-0.1
                                                c0.6,0,1.2,0.1,1.8,0.2c0.6,0.2,1.1,0.4,1.5,0.7c0.4,0.3,0.8,0.7,1.1,1.2c0.3,0.5,0.4,1.1,0.4,1.7V149.3z M-82.8,150
                                                c0.3,0,0.6,0.1,1,0.2c0.4,0.1,0.7,0.2,1,0.3c0.3,0.1,0.4,0.3,0.5,0.6c0.1,0.3,0.1,0.5,0.1,0.8c0,0.8-0.2,1.4-0.7,1.9
                                                c-0.5,0.5-1.3,0.7-2.5,0.7c-0.5,0-1,0-1.4-0.1c-0.4-0.1-0.8-0.3-1.2-0.5c-0.3-0.2-0.6-0.5-0.8-0.9c-0.2-0.4-0.4-0.9-0.4-1.4
                                                h-1.5c0.1,0.8,0.2,1.4,0.5,2c0.3,0.5,0.7,1,1.2,1.3c0.5,0.3,1,0.6,1.7,0.8c0.6,0.2,1.3,0.2,2,0.2c0.7,0,1.3-0.1,1.9-0.2
                                                c0.6-0.1,1.1-0.4,1.5-0.7c0.4-0.3,0.8-0.7,1-1.3c0.2-0.5,0.4-1.2,0.4-1.9v-7.1c0-0.6,0.1-1,0.3-1.1c0.2-0.2,0.6-0.1,1.3,0.1
                                                v-1.2c-0.1,0-0.3-0.1-0.5-0.2c-0.2-0.1-0.5-0.1-0.7-0.1c-0.2,0-0.5,0-0.7,0.1c-0.3,0-0.5,0.1-0.6,0.2c-0.2,0.1-0.3,0.3-0.4,0.5
                                                c-0.1,0.2-0.2,0.4-0.2,0.6c0,0.2-0.1,0.4-0.1,0.7c-0.6-0.7-1.4-1.2-2.2-1.6c-0.8-0.4-1.7-0.6-2.7-0.6c-0.6,0-1.1,0.1-1.7,0.2
                                                c-0.5,0.2-1,0.4-1.4,0.7c-0.4,0.3-0.7,0.7-1,1.2c-0.2,0.5-0.4,1-0.4,1.7c0,2.2,1.5,3.5,4.6,3.9L-82.8,150z"/>
                                        </g>
                                        <g id="g146" transform="translate(403.5723,158.9395)">
                                            <path id="path148" class="st3" d="M-80.2,149.3v18.2h12.1V166h-10.4v-6.6h9.4v-1.5h-9.4v-7.2h10.6v-1.5H-80.2z"/>
                                        </g>
                                        <g id="g150" transform="translate(420.5684,158.9395)">
                                            <path id="path152" class="st3" d="M-80.2,149.3h-1.5v13.1h1.5v-1.8c0.6,0.6,1.2,1.2,1.9,1.6c0.6,0.4,1.4,0.6,2.3,0.6
                                                c0.8,0,1.6-0.1,2.3-0.4c0.7-0.3,1.3-0.8,1.7-1.5c0.3-0.5,0.5-1,0.6-1.5c0.1-0.5,0.1-1,0.1-1.6v-8.6h-1.5v8.5
                                                c0,1.2-0.3,2.1-0.8,2.7c-0.5,0.6-1.4,0.9-2.6,0.9c-0.5,0-0.9-0.1-1.3-0.2c-0.4-0.1-0.7-0.3-1.1-0.6c-0.3-0.2-0.6-0.5-0.8-0.8
                                                c-0.2-0.3-0.4-0.6-0.5-1c-0.2-0.4-0.2-0.8-0.3-1.2c0-0.4-0.1-0.8-0.1-1.3V149.3z"/>
                                        </g>
                                        <g id="g154" transform="translate(442.8496,166.3994)">
                                            <path id="path156" class="st3" d="M-80.2,149.3c0,0.6-0.1,1.2-0.3,1.8c-0.2,0.6-0.4,1.1-0.8,1.5c-0.3,0.4-0.8,0.7-1.3,1
                                                c-0.5,0.2-1.1,0.4-1.8,0.4c-0.7,0-1.3-0.1-1.8-0.4c-0.5-0.3-1-0.6-1.3-1c-0.4-0.4-0.7-0.9-0.9-1.5c-0.2-0.6-0.4-1.1-0.4-1.8
                                                H-80.2z M-88.8,148c0-0.7,0.1-1.4,0.3-2c0.2-0.6,0.5-1.2,0.8-1.6c0.4-0.5,0.8-0.8,1.4-1.1c0.6-0.3,1.2-0.4,1.9-0.4
                                                c1,0,1.8,0.3,2.6,0.8c0.7,0.5,1.2,1.3,1.4,2.2h1.7c-0.2-0.6-0.4-1.2-0.7-1.7c-0.3-0.5-0.7-1-1.1-1.4c-0.5-0.4-1-0.7-1.6-0.9
                                                c-0.6-0.2-1.3-0.3-2.2-0.3c-1,0-1.9,0.2-2.7,0.5c-0.8,0.4-1.4,0.8-1.9,1.5c-0.5,0.6-0.9,1.3-1.1,2.2c-0.2,0.8-0.4,1.7-0.4,2.7
                                                s0.1,1.9,0.4,2.7c0.3,0.8,0.7,1.6,1.2,2.2c0.5,0.6,1.1,1.1,1.9,1.5c0.7,0.4,1.6,0.5,2.5,0.5c1.8,0,3.2-0.6,4.3-1.9
                                                c1-1.2,1.5-3,1.5-5.4H-88.8z"/>
                                        </g>
                                        <g id="g158" transform="translate(449.2734,158.9395)">
                                            <path id="path160" class="st3" d="M-80.2,149.3h-1.5v13.1h1.5v-2.5h0c0.4,1,1,1.8,1.6,2.2c0.7,0.4,1.5,0.6,2.6,0.6v-1.6
                                                c-0.9,0-1.6-0.1-2.1-0.4c-0.6-0.3-1-0.7-1.3-1.2c-0.3-0.5-0.6-1.1-0.7-1.7c-0.1-0.7-0.2-1.4-0.2-2.1V149.3z"/>
                                        </g>
                                        <g id="g162" transform="translate(466.4707,165.4385)">
                                            <path id="path164" class="st3" d="M-80.2,149.3c0,0.8-0.1,1.5-0.3,2.2c-0.2,0.7-0.5,1.3-0.8,1.8c-0.4,0.5-0.8,0.9-1.4,1.2
                                                c-0.6,0.3-1.2,0.4-1.9,0.4c-0.6,0-1.2-0.1-1.8-0.3c-0.5-0.2-1-0.6-1.4-1c-0.4-0.4-0.7-1-0.9-1.6c-0.2-0.6-0.3-1.4-0.3-2.2
                                                c0-0.8,0-1.6,0.2-2.3c0.2-0.7,0.4-1.3,0.8-1.9c0.4-0.5,0.8-1,1.4-1.3c0.6-0.3,1.3-0.5,2-0.5c0.7,0,1.3,0.1,1.9,0.4
                                                c0.5,0.3,1,0.7,1.4,1.2c0.4,0.5,0.7,1.1,0.9,1.7C-80.4,147.8-80.2,148.5-80.2,149.3 M-80.2,155.9h1.5V144
                                                c0-0.9-0.1-1.7-0.3-2.5c-0.2-0.8-0.5-1.5-0.9-2.1c-0.5-0.6-1.1-1.1-1.9-1.5c-0.8-0.4-1.8-0.5-3.1-0.5c-1,0-1.8,0.1-2.5,0.4
                                                c-0.7,0.2-1.3,0.6-1.7,0.9c-0.4,0.4-0.8,0.8-1,1.2c-0.2,0.4-0.3,0.9-0.4,1.3h1.6c0.1-0.5,0.3-0.9,0.6-1.2
                                                c0.3-0.3,0.6-0.6,0.9-0.7c0.3-0.2,0.7-0.3,1.2-0.4c0.4-0.1,0.9-0.1,1.3-0.1c1,0,1.9,0.2,2.5,0.5c0.6,0.4,1.1,0.8,1.4,1.4
                                                c0.3,0.6,0.5,1.2,0.6,1.9c0.1,0.7,0.1,1.5,0.1,2.2c-0.5-0.8-1.2-1.4-2-1.8c-0.9-0.4-1.7-0.6-2.7-0.6c-1,0-1.9,0.2-2.6,0.6
                                                c-0.7,0.4-1.3,0.9-1.8,1.5c-0.5,0.6-0.8,1.4-1.1,2.2c-0.2,0.8-0.4,1.7-0.4,2.6c0,1,0.1,1.9,0.3,2.7c0.2,0.8,0.6,1.6,1,2.2
                                                c0.5,0.6,1.1,1.1,1.8,1.5c0.7,0.4,1.6,0.5,2.7,0.5c0.4,0,0.9-0.1,1.3-0.2c0.4-0.1,0.9-0.3,1.3-0.5c0.4-0.2,0.8-0.5,1.1-0.8
                                                c0.3-0.3,0.6-0.7,0.8-1.1h0.1V155.9z"/>
                                        </g>
                                        <g id="g166" transform="translate(475.8291,173.4561)">
                                            <path id="path168" class="st3" d="M-80.2,149.3l2.8,3.5h1.9l-3.5-3.5H-80.2z M-74.5,142.2c0,0.6-0.1,1.2-0.3,1.8
                                                c-0.2,0.6-0.4,1.1-0.8,1.5c-0.3,0.4-0.8,0.7-1.3,1c-0.5,0.2-1.1,0.4-1.8,0.4c-0.7,0-1.3-0.1-1.8-0.4c-0.5-0.3-1-0.6-1.3-1
                                                c-0.4-0.4-0.7-0.9-0.9-1.5c-0.2-0.6-0.4-1.1-0.4-1.8H-74.5z M-83.1,140.9c0-0.7,0.1-1.4,0.3-2c0.2-0.6,0.5-1.2,0.8-1.6
                                                c0.4-0.5,0.8-0.8,1.4-1.1s1.2-0.4,1.9-0.4c1,0,1.8,0.3,2.6,0.8c0.7,0.5,1.2,1.3,1.4,2.2h1.7c-0.2-0.6-0.4-1.2-0.7-1.7
                                                c-0.3-0.5-0.7-1-1.1-1.4c-0.5-0.4-1-0.7-1.6-0.9c-0.6-0.2-1.3-0.3-2.2-0.3c-1,0-1.9,0.2-2.7,0.5c-0.8,0.4-1.4,0.8-1.9,1.5
                                                c-0.5,0.6-0.9,1.3-1.1,2.2c-0.2,0.8-0.4,1.7-0.4,2.7c0,1,0.1,1.9,0.4,2.7c0.3,0.8,0.7,1.6,1.2,2.2c0.5,0.6,1.1,1.1,1.9,1.5
                                                c0.7,0.4,1.6,0.5,2.5,0.5c1.8,0,3.2-0.6,4.2-1.9c1-1.2,1.5-3,1.5-5.4H-83.1z"/>
                                        </g>
                                        <g id="g170" transform="translate(490.9785,158.8887)">
                                            <path id="path172" class="st3" d="M-80.2,149.3c-0.2,0-0.4-0.1-0.7-0.2c-0.3-0.1-0.6-0.1-1-0.1c-0.8,0-1.3,0.2-1.7,0.6
                                                c-0.4,0.4-0.6,1.1-0.6,2v9.6h-1.8v1.3h1.8v3.6h1.5v-3.6h2.5v-1.3h-2.5v-9c0-0.3,0-0.6,0-0.8c0-0.2,0.1-0.4,0.2-0.6
                                                c0.1-0.2,0.2-0.3,0.4-0.3c0.2-0.1,0.4-0.1,0.7-0.1c0.2,0,0.4,0,0.6,0.1c0.2,0,0.4,0.1,0.6,0.1V149.3z"/>
                                        </g>
                                        <path id="path174" class="st3" d="M413.6,321.3h1.5v-13.1h-1.5V321.3z M413.6,326.4h1.7v-2.3h-1.7V326.4z"/>
                                        <g id="g176" transform="translate(508.8076,167.917)">
                                            <path id="path178" class="st3" d="M-80.2,149.3c-0.3,1-0.7,1.7-1.4,2.3c-0.7,0.5-1.5,0.8-2.5,0.8c-0.8,0-1.4-0.2-2-0.5
                                                c-0.6-0.3-1-0.7-1.4-1.3c-0.4-0.5-0.6-1.1-0.8-1.8c-0.2-0.7-0.3-1.3-0.3-2c0-0.7,0.1-1.4,0.2-2c0.2-0.7,0.4-1.2,0.8-1.8
                                                c0.4-0.5,0.8-0.9,1.4-1.3c0.6-0.3,1.2-0.5,2-0.5c1.1,0,2,0.3,2.7,0.9c0.7,0.6,1.1,1.5,1.3,2.6h1.6c-0.1-0.7-0.4-1.4-0.6-2
                                                c-0.3-0.6-0.7-1.1-1.1-1.5c-0.5-0.4-1-0.8-1.7-1c-0.6-0.2-1.4-0.4-2.2-0.4c-1,0-1.9,0.2-2.7,0.5c-0.8,0.4-1.4,0.8-1.9,1.5
                                                c-0.5,0.6-0.9,1.3-1.1,2.2c-0.2,0.8-0.4,1.7-0.4,2.7c0,0.9,0.1,1.8,0.4,2.6c0.3,0.8,0.6,1.6,1.1,2.2c0.5,0.6,1.1,1.2,1.9,1.5
                                                c0.8,0.4,1.6,0.6,2.6,0.6c1.5,0,2.7-0.4,3.7-1.1c0.9-0.7,1.5-1.9,1.8-3.4H-80.2z"/>
                                        </g>
                                        <g id="g180" transform="translate(522.4141,165.8184)">
                                            <path id="path182" class="st3" d="M-80.2,149.3c-0.6-0.3-1.3-0.4-1.9-0.5c-0.7-0.1-1.3-0.2-2-0.2c-1.2-0.1-2.1-0.3-2.7-0.8
                                                c-0.6-0.4-1-1.1-1-2c0-0.4,0.1-0.8,0.2-1c0.2-0.3,0.4-0.5,0.6-0.7c0.3-0.2,0.6-0.3,0.9-0.4c0.3-0.1,0.7-0.1,1-0.1
                                                c0.6,0,1.2,0.1,1.8,0.2c0.6,0.2,1.1,0.4,1.5,0.7c0.4,0.3,0.8,0.7,1.1,1.2c0.3,0.5,0.4,1.1,0.4,1.7V149.3z M-82.8,150
                                                c0.3,0,0.6,0.1,1,0.2c0.4,0.1,0.7,0.2,1,0.3c0.3,0.1,0.4,0.3,0.5,0.6c0.1,0.3,0.1,0.5,0.1,0.8c0,0.8-0.2,1.4-0.7,1.9
                                                c-0.5,0.5-1.3,0.7-2.5,0.7c-0.5,0-1,0-1.4-0.1c-0.4-0.1-0.8-0.3-1.2-0.5c-0.3-0.2-0.6-0.5-0.8-0.9c-0.2-0.4-0.4-0.9-0.4-1.4
                                                h-1.5c0.1,0.8,0.2,1.4,0.5,2c0.3,0.5,0.7,1,1.2,1.3c0.5,0.3,1,0.6,1.7,0.8c0.6,0.2,1.3,0.2,2,0.2c0.7,0,1.3-0.1,1.9-0.2
                                                c0.6-0.1,1.1-0.4,1.5-0.7c0.4-0.3,0.8-0.7,1-1.3c0.2-0.5,0.4-1.2,0.4-1.9v-7.1c0-0.6,0.1-1,0.3-1.1c0.2-0.2,0.6-0.1,1.3,0.1
                                                v-1.2c-0.1,0-0.3-0.1-0.5-0.2c-0.2-0.1-0.5-0.1-0.7-0.1c-0.2,0-0.5,0-0.7,0.1c-0.3,0-0.5,0.1-0.6,0.2c-0.2,0.1-0.3,0.3-0.4,0.5
                                                c-0.1,0.2-0.2,0.4-0.2,0.6c0,0.2-0.1,0.4-0.1,0.7c-0.6-0.7-1.4-1.2-2.2-1.6c-0.8-0.4-1.7-0.6-2.7-0.6c-0.6,0-1.1,0.1-1.7,0.2
                                                c-0.5,0.2-1,0.4-1.4,0.7c-0.4,0.3-0.7,0.7-1,1.2c-0.2,0.5-0.4,1-0.4,1.7c0,2.2,1.5,3.5,4.6,3.9L-82.8,150z"/>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                
                <!-- <b-img src="../uibuilder/images/node-blue-192x192.png" rounded left v-bind="imgProps" alt="Blue Node-RED" class="mt-1 mr-2"></b-img> -->
                
                <div class="col-sm p-5">
                    <h1 class="with-subtitle">Machine Dashboard</h1>
                    <div role="doc-subtitle">Control Supervisor y Adquisición de Datos.</div>
                </div>
                <div class="w-100"></div>
                <p>
                    Ver <a href="https://vuejs.org/">Referencia de Interfaz</a> para interpretar los valores.
                </p>
            </div>
            <button class="p-3" @click="toggleMachines">Estado de Maquinarias</button>
            <button class="p-3" @click="toggleDatabase">Base de Datos</button>
            <button class="p-3" @click="toggleMonitor">Monitor de Variables productivas</button>
            <b-card v-if="showMachines">
                <div>{{ cacheReplay() }}</div>
                <h3 slot="header">Estado de Maquinarias</h3>
                <div class="row">
                    <div class="card col-lg" v-for="pre_exp in pre_exp_arr" v-bind:class="[pre_exp.estado.texto]">
                            <div class="row">
                                <p class="col">Pre-Expansor {{pre_exp.numero}}</p> <div class="col-" v-bind:class="[pre_exp.estado.led]"></div>
                                <div class="w-100"></div>
                                <div class="col-sm"><p><b>Material:</b></p></div>                                
                                <div class="col-md value-field text-center">{{pre_exp.material}}</div>
                                <div class="w-100"></div>
                                <div class="col-sm"><p><b>Kg Procesados:</b></p></div>                                
                                <div class="col-md value-field text-center">{{pre_exp.kilog}}</div>
                                <div class="w-100"></div>
                                <div class="col-sm"><p><b>Kg Procesados:</b></p></div>                                
                                <div class="col-md value-field text-center">{{pre_exp.kilog}}</div>
                                <div class="w-100"></div>
                                <div class="col-sm"><p><b>Tiempo:</b></p></div>                                
                                <div class="col-md value-field text-center">{{pre_exp.tiempo}}</div>
                                <div class="w-100"></div>
                                <div class="col-sm"><p><b>Densidad:</b></p></div>                                
                                <b-col class="col-md value-field text-center">
                                    <b-row class="no-gutters">
                                        <div class="col">{{pre_exp.densidad.min}}<br>min</div>
                                        <div class="col value-field">{{pre_exp.densidad.avg}}<br>prom</div>
                                        <div class="col value-field">{{pre_exp.densidad.max}}<br>max</div>
                                    </b-row>
                                    
                                </b-col>
                                <div class="w-100"></div>
                                <b-col class="p-3"></b-col> 
                            </div>                                                             
                        
                    </div>
                    <div class="card col-md" v-for="mold in mold_arr" v-bind:class="[mold.estado.texto]">
                        <div class="row">
                            <p class="col">Moldeador {{mold.numero}}</p> <div class="col-" v-bind:class="[mold.estado.led]"></div>
                            <div class="w-100"></div>
                            <div class="col-sm"><p><b>Molde:</b></p></div>
                            <div class="col-md value-field text-center">{{mold.molde}}</div>
                            <div class="w-100"></div>
                            <div class="col-sm"><p><b>Ciclos por Hora:</b></p></div>
                            <div class="col-md value-field text-center">{{mold.ciclos_hora}}</div>
                            <div class="w-100"></div>
                            <div class="col-sm"><p><b>Tiempo de Ciclo:</b></p></div>
                            <div class="col-md value-field text-center">{{mold.tiempo_ciclo}}</div>
                            <div class="w-100"></div>
                            <div class="col-sm"><p><b>Total de ciclos:</b></p></div>
                            <div class="col-md value-field text-center">{{mold.ciclos_total}}</div>                                                       
                        </div>
                    </div>
                </div>
            </b-card>
            <b-card v-if="showDatabase">
                <h3 slot="header">Base de Datos</h3>
                <b-form-input id="type-search" placeholder="Ingresar Query"></b-form-input>
                <b-table striped hover :items="tableData"></b-table>
            </b-card>
            <b-card v-if="showMonitor">
                <h3 slot="header">Monitor de Variables Productivas</h3>
            </b-card>
        </b-container>
    </div>

</body></html>
